<ips:template parameters="" />
{{if settings.globalMessage_content and !member.globalMessage_dismissed and !isset(\IPS\Request::i()->cookie['globalMessage_dismissed'])}}
	<div class="ipsMessage ipsMessage_information" data-controller="plugins.globalMessageDismiss">
		<a href="{url="app=core&module=system&section=plugins&do=dismissGlobalMessage" csrf="1"}" class="ipsMessage_code ipsType_blendlinks" data-action="dismiss"><i class="fa fa-times"></i></a></span>
		{setting="globalMessage_content"}
	</div>
{{endif}}